.button {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  border: 0.125rem solid transparent;
  background-color: var(--color-base);
  color: var(--color-neutral);
  font-size: 0.875rem;

  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s,
    opacity 0.3s;
  transition-timing-function: ease-in-out;
}

/* Variants */
.button[data-variant="secondary"] {
  background-color: var(--color-neutral);
  color: var(--color-base);
}

.button[data-variant="outlined"] {
  background-color: transparent;
  border-color: var(--color-base);
  color: var(--color-base);
}

/* Sizes */
.button[data-size="sm"] {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.button[data-size="lg"] {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.button:hover {
  background-color: oklch(from var(--color-base) calc(l - 0.2) c h);
  color: var(--color-neutral);
  border-color: transparent;
}
.button:focus-visible {
  outline: 0.125rem solid var(--color-base);
  outline-offset: 0.125rem;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--color-base);
}
