.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    opacity 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    text-underline-offset 0.1s ease-in-out;
}

.button[data-variant='default'] {
  background-color: var(--primary);
  color: var(--primary-foreground);
}
.button[data-variant='default']:hover {
  background-color: oklch(from var(--primary) l c h / 0.9);
}

.button[data-variant='alert'] {
  background-color: var(--danger);
  color: var(--danger-foreground);
}
.button[data-variant='alert']:hover {
  background-color: oklch(from var(--alert) l c h / 0.9);
}

.button[data-variant='secondary'] {
  background-color: oklch(from var(--secondary) l c h / 0.1);
  color: var(--secondary);
}
.button[data-variant='secondary']:hover {
  background-color: oklch(from var(--secondary) l c h / 0.15);
}

.button[data-variant='outline'] {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}
.button[data-variant='outline']:hover {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-color: transparent;
}

.button[data-variant='ghost'] {
  background-color: transparent;
  color: var(--primary);
}
.button[data-variant='ghost']:hover {
  background-color: oklch(from var(--primary) l c h / 0.1);
}

.button[data-variant='link'] {
  background-color: transparent;
  color: var(--primary);
  text-underline-offset: 0.1rem;
}
.button[data-variant='link']:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.button[data-size='sm'] {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  font-size: 0.75rem;
  block-size: 1.75rem;
  font-weight: 400;
}

.button[data-size='default'] {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 0.875rem;
  block-size: 2rem;
}

.button[data-size='lg'] {
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  font-size: 1rem;
  block-size: 2.5rem;
}

.button[data-size='icon'] {
  inline-size: 2rem;
  block-size: 2rem;
  padding: 0;
  font-size: 1rem;
}

.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}
.button:active {
  transform: scale(0.97);
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
  filter: grayscale(0.8);
  pointer-events: none;
}
.button:disabled:hover {
  background-color: inherit;
  color: inherit;
}
