.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  border: calc(var(--spacing) / 2) solid transparent;
  border-radius: var(--radius);
  cursor: pointer;
  transition:
    background-color var(--duration),
    color var(--duration),
    opacity var(--duration),
    border-color var(--duration),
    text-underline-offset calc(var(--duration) / 2);

  /* Variants */
  &[data-variant='default'] {
    background-color: var(--primary);
    color: var(--primary-foreground);
    &:hover {
      background-color: oklch(from var(--primary) l c h / 0.9);
    }
  }
  &[data-variant='alert'] {
    background-color: var(--danger);
    color: var(--danger-foreground);
    &:hover {
      background-color: oklch(from var(--danger) l c h / 0.9);
    }
  }
  &[data-variant='secondary'] {
    background-color: oklch(from var(--secondary) l c h / 0.1);
    color: var(--secondary);
    &:hover {
      background-color: oklch(from var(--secondary) l c h / 0.2);
    }
  }
  &[data-variant='outline'] {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
    &:hover {
      background-color: var(--primary);
      color: var(--primary-foreground);
      border-color: transparent;
    }
  }
  &[data-variant='ghost'] {
    background-color: transparent;
    color: var(--primary);
    &:hover {
      background-color: oklch(from var(--primary) l c h / 0.1);
    }
  }
  &[data-variant='link'] {
    background-color: transparent;
    color: var(--primary);
    text-underline-offset: 0.1rem;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.25rem;
    }
  }

  /* Sizes */
  &[data-size='sm'] {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    font-size: 0.75rem;
    block-size: 1.75rem;
    font-weight: 400;
  }
  &[data-size='md'] {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-size: 0.875rem;
    block-size: 2rem;
  }
  &[data-size='lg'] {
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    font-size: 1rem;
    block-size: 2.5rem;
  }
  &[data-size='icon'] {
    inline-size: 2rem;
    block-size: 2rem;
    padding: 0;
    font-size: 1rem;
  }

  /* States */
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: 2px solid var(--focus);
    outline-offset: 2px;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
    filter: grayscale(0.8);
    pointer-events: none;
    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}
